@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

:root{
    --clr-one: #F0EAE2;
    --clr-two: #272727;
    --clr-three: #343333;
    --clr-four: #B2AEA9;
    --clr-four-2: #989590;
    --clr-five: #cec5b9;
    --clr-six: #2356e2;
    --fnt-one: 'Space Grotesk', sans-serif;
    --fnt-two: 'Cormorant SC', serif;;
}

*{
    padding: 0px;
    margin: 0px;
    font-family:sans-serif;
    color: var(--clr-three);
}

.body-2{
    text-align: center;
    background-image: linear-gradient( var(--clr-one), var(--clr-two));
    background-repeat: no-repeat;
    background-size: cover;
}

.container-home{
    margin-top: 14%;
    margin-bottom: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    transition: 1s;
    filter: blur(.6px);
}

.body-2 hr{
    border: 1px solid black;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.container-home:hover{
    filter: blur(0px);
}

.home-h1{
    font-family: var(--fnt-two);
    font-size: 5.5em;
    filter: blur(.55px);
    transition: .5s;
}
.home-h1:hover{
    filter: blur(0px);
}

.home-p{
    font-size: 1.2em;
    margin-bottom: 20px;
    filter: blur(.3px);
    transition: .5s;
}

.home-p:hover{
    filter: blur(0px);
}


.button-p{
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: 2em;
    background: var(--clr-four);
    border: none;
    padding: .5em;
    font-size: 1.2em;
    border-radius: 10px;
    filter: blur(.5px);
    transition: 1s;
}

.button-p a{
    text-decoration: none;
    transition: .5s;
}

.button-p a:hover{
    filter: contrast(50%);
}

.button-p:hover{
    filter: blur(0px);
}

body{
    background-color: var(--clr-one);
    font-family: var(--fnt-one);
}

h2{
    font-family: var(--fnt-two);
    font-weight: 900;
}

p{
    font-family: var(--fnt-one);
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-two);
    z-index: 5;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 1.5em 0 1.5em;
    background: var(--clr-one);
}

.web-name{
    font-size: 2em;
    margin-top: auto;
    font-family: 'Cormorant SC', serif;
    color: black;
}

.nav-1{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}

.nav-links{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
}

.nav-links a{
    padding-right: 1em;
    font-size: 1em;
    text-decoration: none;
    font-family: var(--fnt-one);
    color: black;
    
}

.section-grade{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.main{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1.5px;
    background: var(--clr-two);
}


.box{
    grid-column: 1 / span 1;
    padding: 2em;
    background: var(--clr-four);
}

.picture{
    float: left;
    width: 20%;
    padding: 5px;
    margin-right: 10px;
    border: 2px solid black;
}

.one{
    background-color: var(--clr-one);
    color: white;
    grid-column: 2 / span 11;
    padding-bottom: 1em;
}

.one-a{
    margin: 1em;
}

.one-a-h2{
    font-size: 4em;
}

.one-a-p{
    text-align: left;
}

.one-a .SY{
    text-align: left;
}

.two{
    background-color: var(--clr-one);
    color: white;
    grid-column: 1 / span 11;
}


.two-a-h2{
    font-size: 3em;
    text-align: right;
    margin-right: 1em;
}

.three{
    background-color: var(--clr-one);
    color: white;
    grid-column: 1 / span 10;
}

.three-a-h2{
    font-size: 3em;
}

.box-2{
    grid-column: 11;
    padding: 2em;
    background-color: var(--clr-four);
}

.three-a{
    margin: 1em;
}

.inner-cont{
    display: flex;
    overflow-x: auto;
}

.the-cont{
    min-width: 15em;
    max-width: 15em;
    max-height: 15em;
    min-height: 15em;
    background: var(--clr-four) ;
    box-shadow:
        0 1em 2px var(--clr-five);
    text-align: center;
    border: 2px solid var(--clr-two);
    margin: 1em;
    padding: .5em;
    transition: 1s;
    
}

.the-cont:hover{
        border-radius: 20px;
}

.cont-title{
    font-size: 2em;
}

.cont-desc{
    margin: 20px 40px 40px 40px;
}

.cont-link{
    color: var(--clr-four);
    padding: 0px 20px 0px 20px;
    font-size: 2em;
    transition:0.2s;
    border: 2px solid var(--clr-four-2);
    border-radius: 10px;
    font-family: 'Space Grotesk', sans-serif;
}

.cont-link:hover{
    color: var(--clr-six);
    text-decoration: none;
    padding: 0px auto 0px auto;
    border: 2px solid var(--clr-five);
    box-shadow: 0 .5em 2px var(--clr-four-2);
}

.nav-links a:hover{
    color: red;
}

.book-loader{
    border-radius: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    top: 0;
    bottom: 0;
    display: flex;
    background: #324a52;
    position: fixed;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 5;
    animation: fade 1s linear 1 forwards;
    animation-delay: 1s;
} 
#book, #book_back{
    padding: 0;
    margin: 0;
    position: absolute;
    transform: scale(1);
    animation: shrink 1.2s linear .9s forwards;
}
.book, .book_back{
    width: 9.5rem;
}
.book{
    height: 265px;
    width: 235px;
    animation: page 2s ease 1 forwards;
    animation-delay: .4s;
}
.book_back{
    filter: brightness(90%);
    transform: translate(0px, -13px);
    animation: back 2s ease forwards;
    animation-delay: .4s;
}
#book_back::before{
    content:'';
    position: absolute;
    width: 152px;
    background-color: transparent;
    transform: translate(0, -12px);
    height: 172px;
    box-shadow: 0 0 100px 1px rgba(255, 255, 255, .01);
    animation: light 1s ease forwards;
    animation-delay: .4s;
}

@keyframes fade{
    0%{ opacity: 1;} 
    50%{ opacity: 0;}
    80%{ opacity: 0;}
    100%{ opacity: 0; z-index: -3;}
}

@keyframes shrink{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes page{
0%{ width: 225px;}
50%{ width: 144px; transform: translate(-29px);}
100%{ width: 150px; transform: translate(-27px);}
}

@keyframes light{
    0%{ box-shadow: 0 0 100px 1px rgba(255, 255, 255, 0.01);}
    100%{ box-shadow:0 0 100px 2px rgba(255, 255, 255, .3);}
}

@keyframes back{
    100%{ filter: brightness(120%);}
}

@keyframes zoom{
    0%{ transform: scale(0);}
    90%{ transform: scale(0);}
    100%{ transform: scale(1000px);}
}


.interesting{
    color: white;
    padding-bottom: 1em;
}